<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Material design sign up form</title>
      <link rel="stylesheet" href="../static/style.css">
      <script src="../static/js/jquery-3.2.1.min.js"></script>
      <script src="../static/js/custom.js"></script>
</head>

<body>
  <div id="login-box"><div id="msg"></div>
  <div class="left">
    <h1>Sign up</h1>
    <form class="form-signin">
        <input type="text" name="username" placeholder="Username" />
        <input type="text" name="name" placeholder="Name" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="password2" placeholder="Retype password" />
        <input type="button" name="signup_submit" id="btnSignUp" value="Sign me up" />
    </form>
  </div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div>
  
  
</body>
</html>
